<div class="logo">
<%= link_to root_path do %>
  <div><img src="http://brunchdeals.me/images/BDM-logo-500px.png" alt="BrunchDeals.me" style="border:none;" /></div>
<% end %>

<div class="users">
<h2>Welcome <%= @user.first_name %>!</h2>

<p><button><%= link_to "View your Favorite Brunch Deals", user_favorites_path(@user) %></button></p>

<p><button><%= link_to "Edit My Info", edit_user_path(@user) %></button></p>

<%= form_tag user_path(@user), method: "delete" do %>
  <p><%= submit_tag("Delete My Account") %></p>
<% end %>
</div>