<% @deals.each do |deal| %>
  <h1><%= deal['dealTitle'] %></h1>
  <h2> at <%= deal['name'] %></h2>
  <p><img src="<%= deal['showImage'] %>" width = "400" ></p>
  <h2><a href="<%= deal['URL'] %>" target="_blank">Grab this Deal!</a></h2>
  <p><%= deal['dealinfo'] %></p>
  <p>Expires on: <%= deal['expirationDate'] %></p>
<% end %>

