<!DOCTYPE html>
<html>
<head>
  <title>Brunch Deals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="login">
        <p><%= link_to "Save your Favs? Join Here", new_user_path %></p>
        <% if logged_in? %>
            <p><%= link_to("Log Out #{current_user.first_name}!", "/session", method: "delete") %></p>  
            <p><%= link_to("View Profile", user_path(current_user) ) %>
        <% else %>
        <p><%= link_to("Log In","/login") %></p>
        <% end %>
      </div>
    </div>

  </header>

  <%= yield %>

</body>
</html>

