<!DOCTYPE html>
<html>
<head>
  <title>Brunch Deals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1><%= link_to "BrunchDeals.me", root_path %></h1>

<% if logged_in? %>
  <p><%= link_to("Log Out #{current_user.first_name}!", "/session", method: "delete") %></p>  
<% else %>
  <p><%= link_to("Please Log In!","/login") %></p>
<% end %>

  <p><%= link_to "Join us!", new_user_path %></p>

</header>

<%= yield %>

</body>
</html>
<!-- <footer>
  Powered by:
<p><a href="http://www.8coupons.com" target="_blank">
<img src="http://8coupons.com/static_new/images/graphics/8coupons-med.png" width = "100"/></p>
</footer> -->
